includes:
  - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
  paths:
    - ../../sendy.php
    - ../../src
  reportUnmatchedIgnoredErrors: false
  level: 8
  scanDirectories:
    - /var/www/html/classes
