<div class="card mt-2">
    <div class="card-header">
        <h3 class="card-header-title">
            Sendy
        </h3>
    </div>

    <div class="card-body">
        The sendy card.

        If there is no shipment yet, this should display a form to create a new shipment.

        If there is a shipment but no packages, this should show a link to the shipment edit page.

        If there is a shipment and packages, this should show the tracking number and link to the tracking page.
    </div>
</div>
